
.headerimg {
  max-height: 100px;
} 

.header {
  width:100%;
  background-color: indigo;
  color:white;
  text-decoration: none;
}

.headertd {
  width: 105px;
}

h1{text-align: center;}
h2{text-align: center;}
h3{text-align: center;}
h6{text-align: center;}

.LGR {
  font-size:xx-large;
}